h1 {
  
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

h2, h4 {
  
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(120, 136, 89);
 
}

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
}

body {
background-color: #fff1cb;

}

.no-bullets {

  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:

}

.title, .ending {
  background-color: rgb(120, 136, 89);
  color: white;

}

#catering {
  background-color: rgb(120, 136, 89);
  color: white;

}

.w3-bar-item {

  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.w3-display-middle {

  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff1cb;

}

#casita {
  
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(120, 136, 89);
 
}
